/* Header */

header{
  background-color: #2c3e50;
  color: white;
}

.txt_h{
  word-spacing: 20px;
  text-align: center;
  font-size: small;
}

.white{
  color: white;
}

/* /Header */


/* Info */

.bkg_green{
  background-color: #1abc9c;
}

#avatar{
  width: 16vw;
  height: 36vh;
}


.txt_i{
  text-align: center;
  font-size: 4vw;
}


.hr_size{
  width: 400px;
  height: 400px;
}

.star{
  font-size: xx-large;
  text-align: center;
}

.string{
  text-align: center;
  font-size: xx-large;
}

/* /Info */


/* Portfolio */


.title_b{
  text-align: center;
  font-size: xx-large;
  font-size: 3vw;
}

.images{
  border: 5px solid white;
  border-radius: 10%;
  width: 17vw;
  height: 30vh;
}

/* /Portfolio */

/* MEMO */

/* <div class="container">

  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div> */

       /* <div class="container-sm">100% wide until small breakpoint</div>
       <div class="container-md">100% wide until medium breakpoint</div>
       <div class="container-lg">100% wide until large breakpoint</div>
       <div class="container-xl">100% wide until extra large breakpoint</div>
       <div class="container-xxl">100% wide until extra extra large breakpoint</div> */