/* Header */

.container{
    max-width: 100vw;
}

header{
    background-color: #2c3e50;
    color: white;
}

.txt_s{
    font-size: small;
}

/* /Header */


/* Info */

#avatar{
  width: 20vw;
  height: 20vh;
}

/* /Info */



/* MEMO */

/* <div class="container">

  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div> */

       /* <div class="container-sm">100% wide until small breakpoint</div>
       <div class="container-md">100% wide until medium breakpoint</div>
       <div class="container-lg">100% wide until large breakpoint</div>
       <div class="container-xl">100% wide until extra large breakpoint</div>
       <div class="container-xxl">100% wide until extra extra large breakpoint</div> */